.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 300px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 25px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.item {
  width: 45%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: lightcyan;
  box-shadow: 5px 5px 3px rgb(0,0,0,.3);
  border-style: solid;
  border-color: rgb(249, 255, 171);
  border-width: 5px;
  border-radius: 20px;
}
.item:hover {
  background-color: rgb(253, 255, 224);
  box-shadow: 10px 10px 5px rgb(0,0,0,.3);
  border-style: solid;
  border-color: rgb(190, 255, 255);
  border-width: 5px;
  border-radius: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}


a {
  cursor: pointer;
}
a:link {
  color: green;
}
a:visited {
  color: orange;
}
a:hover {
  color: lightgreen;
}
a:active {
  color: rgb(198, 255, 112);
}

img {
  display: block;
  margin: auto;
}

.container {
  padding: 15px;
}

.nav-link {
  padding: 10px;
}

button {
  margin: 10px;
}

form {
  margin: 15px;
}

.comment {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  background-color: lightcyan;
  margin: 15px;
  border-radius: 20px;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}
.comment-picture {
  margin: 10px;
}
.comment-picture > img {
  height: 150px;
  border-radius: 10px;
}
.comment-content {
  margin-left: 10px;
  margin-right: 10px;
}
#comment-box {
  
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}